<% layout('layouts/boilerplate') -%>

<h1>Select Your Campground!</h1>

<form action="/campgrounds/new" method="GET">
  <button>Add Campsite</button>
</form>

<% for(campground of campgrounds){%>
<p><b> Campground: <%= campground.title %> </b></p>

<p>Location: <%= campground.location %></p>

<div>
  <a href="/campgrounds/<%= campground._id %>">Details</a>
</div>

<hr />
<% }%>
