<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campgrounds</title>
  </head>
  <body>
    <h1>Select Your Campground!</h1>

    <form action="/campgrounds/new" method="GET">
      <button>Add Campsite</button>
    </form>

    <% for(campground of campgrounds){%>
    <p><b> Campground: <%= campground.title %> </b></p>

    <p>Location: <%= campground.location %></p>
    
    <div>
      <a href="/campgrounds/<%= campground._id %>">Details</a>
    </div>

    <hr />
    <% }%>
  </body>
</html>
